# roles/mariadb/tasks/install.yml
---

- name: Check if MariaDB repo is configured
  block:

    - name: Check if MariaDB repo file exists
      stat:
        path: /etc/yum.repos.d/MariaDB.repo
      register: mariadb_repo_file_check
      changed_when: false

    - name: Add official MariaDB repository
      yum_repository:
        name: MariaDB
        description: Official MariaDB repository
        baseurl: "http://{{ mariadb_mirror }}/{{ mariadb_version }}/{{ ansible_distribution|lower|regex_replace('redhat', 'rhel')|regex_replace('oraclelinux', 'centos')|regex_replace('rocky', 'centos')|regex_replace('almalinux', 'centos') }}{{ ansible_distribution_major_version }}-amd64"
        gpgkey: https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
        gpgcheck: true
      when: 
        - not mariadb_repo_file_check.stat.exists
        
    - name: Ensure "module_hotfixes=1 is in section "[MariaDB]" in specified file
      ini_file:
        path: /etc/yum.repos.d/MariaDB.repo
        section: MariaDB
        option: module_hotfixes
        value: '1'
        backup: yes
      tags: mariadb
      when: 
        - not mariadb_repo_file_check.stat.exists
        
  when: 
    - (ansible_facts['distribution'] == "CentOS" and ansible_facts['distribution_major_version'] == "8") or
      (ansible_facts['distribution'] == "RedHat" and ansible_facts['distribution_major_version'] == "8") or
      (ansible_facts['distribution'] == "RedHat" and ansible_facts['distribution_major_version'] == "9") or
      (ansible_facts['distribution'] == "OracleLinux" and ansible_facts['distribution_major_version'] == "8") or 
      (ansible_facts['distribution'] == "Rocky" and ansible_facts['distribution_major_version'] == "8") or
      (ansible_facts['distribution'] == "AlmaLinux" and ansible_facts['distribution_major_version'] == "8")

- name: Install packages on CentOS 7
  package:
    name: "{{ item }}"
    state: installed
  loop: "{{ mariadb_packages }}"
  tags: mariadb
  when: 
    - (ansible_facts['distribution'] == "CentOS" and ansible_facts['distribution_major_version'] == "7")

- name: Install packages on RedHat 7
  package:
    name: "{{ item }}"
    state: installed
  loop: "{{ rhel_mariadb_packages }}"
  tags: mariadb
  when: 
    - (ansible_facts['distribution'] == "RedHat" and ansible_facts['distribution_major_version'] == "7") 

- name: Install packages on Alma/CentOS/Oracle/RedHat/Rocky 8
  package:
    name: "{{ item }}"
    state: installed
  loop: "{{ mariadb_packages_8 }}"
  tags: mariadb
  when: 
    - (ansible_facts['distribution'] == "CentOS" and ansible_facts['distribution_major_version'] == "8") or
      (ansible_facts['distribution'] == "RedHat" and ansible_facts['distribution_major_version'] == "8") or
      (ansible_facts['distribution'] == "RedHat" and ansible_facts['distribution_major_version'] == "9") or
      (ansible_facts['distribution'] == "OracleLinux" and ansible_facts['distribution_major_version'] == "8") or 
      (ansible_facts['distribution'] == "Rocky" and ansible_facts['distribution_major_version'] == "8") or
      (ansible_facts['distribution'] == "AlmaLinux" and ansible_facts['distribution_major_version'] == "8")