---
# tasks file for primekey

- name: OCSP Key Binding Keys
  block:

    - name: Generate Keys for Key Bindings
      include_role:
        name: ansible-ejbca-ctb-keygen
      loop: "{{ ejbca_va_keybinding |subelements('crypto_token') }}"
      loop_control:
        label: "{{ key_item.0.slot_identifier_value }}"
        loop_var: key_item
      no_log: true
      tags: hsm_test, clienttoolbox_key_generation
      when: ("PKCS11CryptoToken" in key_item.0.tokentype)

  when: 
    - ejbca_va_keybinding[0] is defined

- name: Check deployment
  include_tasks: check_deployment.yml
  tags: check_deployment
  when: management_import_certification_authorities[0] is defined

- name: Create crypto tokens for OCSP Signers
  include_role: 
    name: ansible-ejbca-crypto-token
  loop: "{{ ejbca_va_keybinding }}"
  no_log: true
  when:
    - ejbca_va_keybinding[0] is defined

- name: Generate OCSP Signer keys on soft crypto token
  include_role:
    name: ansible-ejbca-cli-key-gen
  loop: "{{ ejbca_va_keybinding |subelements('crypto_token') }}"
  loop_control:
        label: "{{ key_item.0.slot_identifier_value }}"
  when: ( "SoftCryptoToken" in item.0.tokentype ) 

- name: Create OCSP Key Binding
  include_role:
    name: ansible-ejbca-key-binding
  vars:
    key_bindings: "{{ ejbca_va_keybinding }}"
    ocsp_key_bind: true
  when: 