---

- name: Check if role exists
  command: "{{ ejbca_sh }} roles listroles"
  args:
    chdir: "{{ ejbca_home }}"
  become_user: "{{ ejbca_user }}"
  become: yes
  register: role_exists_result
  tags: add_cert_sn_role
  failed_when: role_exists_result.rc >= 2
  changed_when: False

#- name: Debug role_exists_result
#  debug:
#    var: role_exists_result
#  when: 
#    - ('RA-Peer-Connection' in role_exists_result.stdout) or ('Super Administrator Role' in role_exists_result.stdout)

- name: List role members for {{ ejbca_ra_admin_role_name }}
  command: >
    {{ ejbca_sh }} roles listadmins --role '{{ ejbca_ra_admin_role_name }}'
  args:
    chdir: "{{ ejbca_home }}"
  become_user: "{{ ejbca_user }}"
  become: yes
  register: sn_in_role_result
  tags: add_cert_sn_role
  failed_when: sn_in_role_result.rc >= 2
  changed_when: False
  when: 
    - ( ejbca_ra_admin_role_name in role_exists_result.stdout)

#- name: Debug sn_in_role_result
#  debug:
#    var: sn_in_role_result

- name: Create fact for member vaules in {{ ejbca_ra_admin_role_name }}
  set_fact:
    ra_serial_numbers_hex: "{{ ra_serial_numbers_hex | default( [] ) + [inner_item.split('\"')[3]] }}"
  loop: "{{ sn_in_role_result.stdout_lines }}"
  loop_control:
    loop_var: inner_item
  when:
    - sn_in_role_result is defined
    - ( ejbca_ra_admin_role_name in role_exists_result.stdout )

#- name: Debug certificate_serial_number
#  debug:
#    var: certificate_serial_number

- name: Use CLI to add serial number {{ inner_item.certificate_serial_number }} to {{ ejbca_ra_admin_role_name }}
  command: >
    {{ ejbca_sh }} roles addrolemember 
    --role '{{ ejbca_ra_admin_role_name }}' 
    --caname '{{ inner_item.caname }}' 
    --with CertificateAuthenticationToken:WITH_SERIALNUMBER 
    --value '{{ inner_item.certificate_serial_number }}'
    --description '{{ inner_item.certificate_serial_number.stdout }}'
  args:
    chdir: "{{ ejbca_home }}"
  become_user: "{{ ejbca_user }}"
  become: yes
  loop: "{{ certificate_serial_number }}"
  loop_control:
    loop_var: inner_item
  register: add_sn_to_role_result
  tags: ra_peer_sn_role, certreq-cli-batch
  when: 
  - ra_serial_numbers_hex is defined
  - not inner_item.certificate_serial_number in ra_serial_numbers_hex
