[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no


[req_distinguished_name]
C = {{ item.dn_country }}
O = {{ item.dn_org }}
{% if item.dn_ou|length or item.dn_ou| default(omit) %}
{% set count = namespace(value=0) %}
{% for name in item.dn_ou %}
{{ count.value }}.OU = {{ name }}
{% set count.value = count.value + 1 %}
{% endfor %}
{% endif %}
CN = {{ item.dn_common_name }}

[v3_req]
keyUsage = keyEncipherment, digitalSignature
extendedKeyUsage = {{ item.eku }}
subjectAltName = @alt_names

[alt_names]
{% if item.san_DNSName|length or item.san_DNSName| default(omit) %}
{% set count = namespace(value=1) %}
{% for name in item.san_DNSName %}
DNS.{{ count.value }} = {{ name }}
{% set count.value = count.value + 1 %}
{% endfor %}
{% endif %}