
# ignore files at the top level
LICENSE
README.md
primekey_logo.png


# ignore the following directories

ansible_ejbca_upgrade/
ansible_ejbca_vault_plugin/
ansible_ejbca_vault_subca/


#ignore files for Azure

ansible_ejbca_ee/**/AzureTest*


#ignore ansible files
ansible.cfg
inventory
ansible_ejbca_ee/inventory

#ignore mac files
.DS_Store
**/.DS_Store


