Object Type: Certificate Extension
Version: 1
Name: id-piv-NACI
Extension class: BasicCertificateExtension
Object Identifier: 2.16.840.1.101.3.6.9.1
Critical: false
Required: true
Properties:
  encoding: DERBOOLEAN
  value: ''
  dynamic: 'true'