Object Type: Certificate Extension
Version: 1
Name: certificateTemplateName
Extension class: BasicCertificateExtension
Object Identifier: 1.3.6.1.4.1.311.20.2
Critical: false
Required: true
Properties:
  encoding: DERPRINTABLESTRING
  value: ''
  dynamic: 'true'