Object Type: Extended Key Usage
Version: 1
All extended key usages:
  2.5.29.37.0: EKU_PKIX_ANYEXTENDEDKEYUSAGE
  1.3.6.1.5.5.7.3.1: EKU_PKIX_SERVERAUTH
  1.3.6.1.5.5.7.3.2: EKU_PKIX_CLIENTAUTH
  1.3.6.1.5.5.7.3.3: EKU_PKIX_CODESIGNING
  1.3.6.1.5.5.7.3.4: EKU_PKIX_EMAILPROTECTION
  1.3.6.1.5.5.7.3.8: EKU_PKIX_TIMESTAMPING
  1.3.6.1.5.5.7.3.9: EKU_PKIX_OCSPSIGNING
  1.3.6.1.5.5.7.3.13: EKU_PKIX_EAPOVERPPP
  1.3.6.1.5.5.7.3.14: EKU_PKIX_EAPOVERLAN
  1.3.6.1.5.5.7.3.15: EKU_PKIX_SCVPSERVER
  1.3.6.1.5.5.7.3.16: EKU_PKIX_SCVPCLIENT
  1.3.6.1.5.5.7.3.17: EKU_PKIX_IPSECIKE
  1.3.6.1.5.5.7.3.20: EKU_PKIX_SIPDOMAIN
  1.3.6.1.5.5.7.3.21: EKU_PKIX_SSHCLIENT
  1.3.6.1.5.5.7.3.22: EKU_PKIX_SSHSERVER
  1.3.6.1.4.1.311.20.2.2: EKU_MS_SMARTCARDLOGON
  1.3.6.1.4.1.311.10.3.12: EKU_MS_DOCUMENTSIGNING
  1.3.6.1.4.1.311.2.1.21: EKU_MS_CODESIGNING_IND
  1.3.6.1.4.1.311.2.1.22: EKU_MS_CODESIGNING_COM
  1.3.6.1.4.1.311.10.3.4: EKU_MS_EFSCRYPTO
  1.3.6.1.4.1.311.10.3.4.1: EKU_MS_EFSRECOVERY
  2.16.840.1.113741.1.2.3: EKU_INTEL_AMT
  0.4.0.2231.3.0: EKU_ETSI_TSLSIGNING
  1.2.840.113583.1.1.5: EKU_ADOBE_PDFSIGNING
  1.2.203.7064.1.1.369791.1: EKU_CSN_TLSCLIENT
  1.2.203.7064.1.1.369791.2: EKU_CSN_TLSSERVER
  1.3.6.1.5.2.3.4: EKU_KRB_PKINIT_CLIENT
  1.3.6.1.5.2.3.5: EKU_KRB_PKINIT_KDC
  2.23.136.1.1.3: EKU_ICAO_MASTERLISTSIGNING
  2.23.136.1.1.8: EKU_ICAO_DEVIATIONLISTSIGNING
  2.16.840.1.101.3.6.8: EKU_NIST_PIVCARDAUTH
  1.3.6.1.4.1.311.21.5: MS szOID_KP_CA_EXCHANGE
  2.16.840.1.101.3.8.7: id-fpki-pivi-content-signing
  2.16.840.1.101.3.6.7: id-PIV-content-signing
  1.3.6.1.5.5.8.2.2: iKEIntermediate
  1.3.6.1.4.1.311.54.1.2: MS Remote Desktop Authentication