Object Type: Service
Version: 1
Name: OCSP-KeyUpdate
Worker Type: Remote Internal Keybinding Updater
Worker Properties:
  CAs to Check:
  - Any CA
{% for item in ejbca_peerConnector %}
{% if 'ocsp' == item.type %}
  Peer System: {{ item.name }}
{% endif %}
{% endfor %}
  Time Before Certificate Expires: 1
  Time Unit of Certificate Expiry: DAYS
  Renew Keys: true
Interval Type: Periodical Interval
Interval Properties:
  Periodical Value: 4
  Periodical Unit: HOURS
Action Type: No Action
Action Properties: {
  }
Description: ''
Active: true
Hidden: false
Pin to Specific Nodes: [
  ]
Run on All Nodes: true