{{ ansible_managed | comment }}

#Listen 80
<VirtualHost *:80>
{% if inventory_hostname in groups['eeCaServers'] or inventory_hostname in groups['eeRaServers'] or inventory_hostname in groups['eeVaServers'] or inventory_hostname in groups['ceServers'] %}
    # Create a load balancer setup for EJBCA
    <Proxy balancer://EJBCACluster >
       BalancerMember ajp://127.0.0.1:8009 keepalive=On ping=500ms retry=1 timeout=300
       #BalancerMember ajp://%EJBCA2Hostname%:8009
       ProxySet lbmethod=byrequests
    </Proxy>    
{% endif %}
{% if inventory_hostname in groups['eeSignServers'] or inventory_hostname in groups['ceSignServers'] %}
    # Create a load balancer setup for SignServer
    <Proxy balancer://SignSrvCluster >
       BalancerMember ajp://127.0.0.1:8009 keepalive=On ping=500ms retry=1 timeout=300
       #BalancerMember ajp://%EJBCA2Hostname%:8009
       ProxySet lbmethod=byrequests
    </Proxy>
{% endif %}  
    DocumentRoot /var/www/html/
    # Disallow any HTTP method that is not HEAD, GET or POST
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} !^(HEAD|GET|POST)$ [NC]
    RewriteRule .* - [F,L]
{% if inventory_hostname in groups['eeCaServers'] or inventory_hostname in groups['eeRaServers'] or inventory_hostname in groups['ceServers'] %}
    # Redirect legacy EJBCA enrollment to HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^/?ejbca/enrol/(.*) https://%{SERVER_NAME}/ejbca/enrol/$1 [R,L]
{% endif %}
    # Allow encoded slashes for OCSP GET
    AllowEncodedSlashes On
{% if inventory_hostname in groups['eeCaServers'] or inventory_hostname in groups['eeRaServers'] or inventory_hostname in groups['eeVaServers'] or inventory_hostname in groups['ceServers'] %}
    ProxyPass /ejbca/      balancer://EJBCACluster/ejbca/
{% endif %}
{% if use_external_va is defined and use_external_va is sameas false or inventory_hostname in groups['eeVaServers'] %}
    ProxyPass /ocsp        balancer://EJBCACluster/ejbca/publicweb/status/ocsp
{% endif %}
{% if inventory_hostname in groups['eeCaServers'] or inventory_hostname in groups['eeRaServers'] or inventory_hostname in groups['eeVaServers'] or inventory_hostname in groups['ceServers'] %}
{% if use_httpd_crl_map is defined and use_httpd_crl_map is sameas true %}
    #Vanity CRL URLs
    RewriteMap vanityCrlLC int:tolower
    RewriteMap vanityCrls "txt:/etc/httpd/rewriteMaps/crlmapping.txt"
    RewriteRule "^.*/CRL/(.+)\.crl" "/ejbca/publicweb/crls/search.cgi?{{ httpd_crl_hash_type|default('iHash') }}=${vanityCrls:${vanityCrlLC:$1}|$1}" [PT,QSA,E=vanityCrl:$1]
    RewriteRule "^.*/CRLs/(.+)\.crl" "/ejbca/publicweb/crls/search.cgi?{{ httpd_crl_hash_type|default('iHash') }}=${vanityCrls:${vanityCrlLC:$1}|$1}" [PT,QSA,E=vanityCrl:$1]
    RewriteRule "^.*/crl/(.+)\.crl" "/ejbca/publicweb/crls/search.cgi?{{ httpd_crl_hash_type|default('iHash') }}=${vanityCrls:${vanityCrlLC:$1}|$1}" [PT,QSA,E=vanityCrl:$1]
    RewriteRule "^.*/crls/(.+)\.crl" "/ejbca/publicweb/crls/search.cgi?{{ httpd_crl_hash_type|default('iHash')  }}=${vanityCrls:${vanityCrlLC:$1}|$1}" [PT,QSA,E=vanityCrl:$1]
    Header unset Content-disposition env=vanityCrl
{% endif %}

{% if use_httpd_aia_map is defined and use_httpd_aia_map is sameas true %}
    RewriteMap vanityAiaLC int:tolower
    RewriteMap vanityAias "txt:/etc/httpd/rewriteMaps/aiamapping.txt"
    RewriteRule "^.*/aia/(.+)\.crt" "/ejbca/publicweb/certificates/search.cgi?{{ httpd_aia_hash_type|default('sHash') }}=${vanityAias:${vanityAiaLC:$1}|$1}" [PT,QSA,E=vanityAia:$1]
    RewriteRule "^.*/AIA/(.+)\.crt" "/ejbca/publicweb/certificates/search.cgi?{{ httpd_aia_hash_type|default('sHash') }}=${vanityAias:${vanityAiaLC:$1}|$1}" [PT,QSA,E=vanityAia:$1]    
    Header unset Content-disposition env=vanityAia
{% endif %}

{% if use_httpd_aia_directory is defined and use_httpd_aia_directory is sameas true %}

    #AIA directory access for Base64 PEM CA Cert retrieval
    <Directory /var/www/html/aia>
        Require all granted
        AddType application/x-pem-file .crt
    </Directory>

{% endif %}
    # Redirect /, /ejbca and non-proxied URLs to /ejbca/
{% if use_external_va is defined and use_external_va is sameas false or inventory_hostname in groups['eeVaServers'] %}
    RewriteCond %{THE_REQUEST} !(/ejbca/.*|/CRLs/.*|/crls/.*|/crl/.*|/AIA/.*|/aia/.*|/ocsp.*) [OR]
{% else %}
    RewriteCond %{THE_REQUEST} !(/ejbca/.*|/CRLs/.*|/crls/.*|/crl/.*|/AIA/.*|/aia/.*) [OR]
{% endif %}
    RewriteCond %{THE_REQUEST} (/ejbca/ejbcaws.*|/ejbca/adminweb.*)
    RewriteRule (.*) http://%{HTTP_HOST}/ejbca/ [R]
{% endif %}
{% if inventory_hostname in groups['eeSignServers'] or inventory_hostname in groups['ceSignServers'] %}
    ProxyPass /signserver/      balancer://SignSrvCluster/signserver/

    # Redirect /, /ejbca, /signserver and non-proxied URLs to /ejbca/
    RewriteCond %{THE_REQUEST} !(/signserver/.*) [OR]
    RewriteCond %{THE_REQUEST} (/signserver/ejbcaws.*|/signserver/adminweb.*)
    RewriteRule (.*) https://%{HTTP_HOST}/signserver/ [R]
{% endif %}

{% if ansible_facts['distribution_major_version'] == "8" %}
    <Directory "/var/www/html">
      Options FollowSymlinks
      AllowOverride None
      <RequireAll>
        Require all granted
      </RequireAll>
    </Directory>
{% endif %}
</VirtualHost>