{{ ansible_managed | comment }}

  Listen 443
  ServerTokens ProductOnly
  SSLPassPhraseDialog exec:/usr/libexec/httpd-ssl-pass-dialog
  SSLSessionCache         shmcb:/run/httpd/scache(512000)
  SSLSessionCacheTimeout  300
  SSLCryptoDevice builtin

{% if ansible_facts['distribution_major_version'] == "8" %}
  SSLUseStapling On
  SSLStaplingCache "shmcb:logs/ssl_stapling(32768)"
{% endif %}

<VirtualHost {{ httpd_identity_info.id_name }}:443>
{% if inventory_hostname in groups['eeCaServers'] or inventory_hostname in groups['eeRaServers'] or inventory_hostname in groups['eeVaServers'] or inventory_hostname in groups['ceServers'] %}
# Create a load balancer setup for EJBCA
<Proxy balancer://EJBCACluster >
       BalancerMember ajp://127.0.0.1:8009 keepalive=On ping=500ms retry=1 timeout=300
       #BalancerMember ajp://%EJBCA2Hostname%:8009
       ProxySet lbmethod=byrequests
</Proxy>
{% endif %}
{% if inventory_hostname in groups['eeSignServers'] or inventory_hostname in groups['ceSignServers'] %}
# Create a load balancer setup for SignServer
<Proxy balancer://SignSrvCluster >
       BalancerMember ajp://127.0.0.1:8009 keepalive=On ping=500ms retry=1 timeout=300
       #BalancerMember ajp://%EJBCA2Hostname%:8009
       ProxySet lbmethod=byrequests
</Proxy>
{% endif %}

  # Configure (basic) security headers for applications that don't provide their own
  Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; frame-ancestors 'self'"
  Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
  Header always append X-Frame-Options SAMEORIGIN "expr=%{REQUEST_STATUS} = 302"

  DocumentRoot /var/www/html
  ServerName {{ httpd_identity_info.id_name }}:443
  #ServerAlias *.domain.com
  ErrorLog logs/443_error_log
  TransferLog logs/443_access_log
  LogLevel warn
  LogFormat "%a A %h %H %l %m %s %t %u %U \"{Referer}I\" " combined
  CustomLog "logs/443_request_log" "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

  KeepAlive on
  TraceEnable off
  LimitRequestBody 20971520
  LimitRequestFields 20
  LimitRequestBody 8190
  LimitRequestLine 8190

{% if ansible_facts['distribution_major_version'] == "8" %}
  # enable HTTP/2, if available
  Protocols h2 http/1.1
{% endif %}
  
  # "Modern" configuration, defined by the Mozilla Foundation's SSL Configuration
  # Generator as of August 2016. This tool is available at
  # https://mozilla.github.io/server-side-tls/ssl-config-generator/

  SSLEngine on
  SSLProtocol -all +TLSv1.2
  #SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
  SSLCipherSuite          ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
  SSLHonorCipherOrder     off
  SSLSessionTickets       off
  SSLCertificateFile /etc/pki/tls/certs/{{ httpd_identity_info.id_name }}.crt
  SSLCertificateKeyFile /etc/pki/tls/private/{{ httpd_identity_info.id_name }}.key
  SSLCertificateChainFile /etc/pki/tls/certs/chain.crt
  SSLOptions +StdEnvVars +FakeBasicAuth +StrictRequire
  SSLCACertificateFile /etc/pki/tls/certs/trusted-ca.crt
  #SSLCARevocationPath /etc/httpd/crl/
  ProxyPreserveHost on
  SSLProxyEngine On
  #SSLProxyCipherSuite PROFILE=SYSTEM
  SSLProxyCheckPeerName off
  SSLProxyCheckPeerCN off
  ProxyRequests Off
  
  # initialize the special headers to a blank value to avoid http header forgeries
  RequestHeader set SSL_CLIENT_CERT "%{SSL_CLIENT_CERT}s"

  # Disallow any HTTP method that is not HEAD, GET or POST
  RewriteEngine On
  RewriteCond %{REQUEST_METHOD} !^(HEAD|DELETE|GET|POST|PUT)$ [NC]
  RewriteRule .* - [F,L]

  # Allow encoded slashes for OCSP GET
  AllowEncodedSlashes On
{% if inventory_hostname in groups['eeCaServers'] or inventory_hostname in groups['eeRaServers'] or inventory_hostname in groups['eeVaServers'] or inventory_hostname in groups['ceServers'] %}
  # Peer Connections
  <Location /ejbca/peer/v1>
  SSLVerifyClient require
  SSLVerifyDepth  4
  SSLOptions +ExportCertData +StrictRequire +StdEnvVars
  </Location>

  # Cert Auth for adminwebn
  <Location /ejbca/adminweb>
  SSLVerifyClient optional
  SSLVerifyDepth  4
  SSLOptions +ExportCertData +StrictRequire +StdEnvVars
  </Location>
  
  # Redirecting traffic to EJBCA REST Service
  <Location /ejbca/ejbca-rest-api>
  SSLVerifyClient optional
  SSLVerifyDepth  4
  SSLOptions +ExportCertData +StrictRequire +StdEnvVars
  </Location>
 
 # Redirecting traffic to EJBCA Web Service (Soap)
  <Location /ejbca/ejbcaws>
  SSLVerifyClient optional
  SSLVerifyDepth  4
  SSLOptions +ExportCertData +StrictRequire +StdEnvVars
  </Location>
{% if use_external_ra is defined and use_external_ra is sameas false and inventory_hostname in groups['eeCaServers'] or inventory_hostname in groups['eeRaServers'] %}
  # Cert Auth for ra
  <Location /ejbca/ra>
  SSLVerifyClient optional 
  SSLVerifyDepth  4
  SSLOptions +ExportCertData +StrictRequire +StdEnvVars
  </Location>

{% if use_external_ra is defined and use_external_ra is sameas false and inventory_hostname in groups['eeCaServers'] or inventory_hostname in groups['eeRaServers'] %}
  <Location /.well-known/est/device/simpleenroll>
  SSLOptions +ExportCertData +StrictRequire +StdEnvVars
  ProxyPass balancer://EJBCACluster/.well-known/est
  ProxyPassReverse balancer://EJBCACluster/.well-known/est
  </Location>

  <Location /.well-known/est/firewall/simplereenroll>
  SSLVerifyClient require
  SSLVerifyDepth  4
  SSLOptions +ExportCertData +StrictRequire +StdEnvVars
  ProxyPass balancer://EJBCACluster/.well-known/est
  ProxyPassReverse balancer://EJBCACluster/.well-known/est
  </Location>
  {% endif %}
  <Location /.well-known/>
  ProxyPass balancer://EJBCACluster/.well-known/
  ProxyPassReverse balancer://EJBCACluster/.well-known/
  </Location> 
{% else %}
  <Location /ejbca/ra>
  SSLVerifyClient optional 
  SSLVerifyDepth  4
  SSLOptions +ExportCertData +StrictRequire +StdEnvVars
  </Location>
{% endif %}
  # Redirecting traffic to EJBCA public
  <Location /ejbca>
  ProxyPass balancer://EJBCACluster/ejbca
  ProxyPassReverse balancer://EJBCACluster/ejbca
  </Location>

  # Redirect /, /ejbca and non-proxied URLs to /ejbca/
  RewriteCond %{THE_REQUEST} !(/ejbca/.*|/.well-known/.*)
  RewriteRule (.*) https://%{HTTP_HOST}/ejbca/ [R]
{% endif %}
{% if inventory_hostname in groups['eeSignServers'] or inventory_hostname in groups['ceSignServers'] %}
# Redirecting traffic to EJBCA Admin
  <Location /signserver/adminweb>
  SSLVerifyClient require
  SSLVerifyDepth  4
  SSLOptions +ExportCertData +StrictRequire +StdEnvVars
  </Location>

  # Allow access to works and cert auth is optional
  <Location /signserver/process>
  SSLVerifyClient optional
  SSLVerifyDepth  4
  SSLOptions +ExportCertData +StrictRequire +StdEnvVars
  SSLRenegBufferSize 10486000
  </Location>

  # Peer Connections
  <Location /signserver/peer/v1>
  SSLVerifyClient require
  SSLVerifyDepth  4
  SSLOptions +ExportCertData +StrictRequire +StdEnvVars
  </Location>

  # Redirecting traffic to EJBCA public
  <Location /signserver>
  ProxyPass balancer://SignSrvCluster/signserver
  ProxyPassReverse balancer://SignSrvCluster/signserver
  </Location>

  # Redirect /, /ejbca, /signserver and non-proxied URLs to /ejbca/
  RewriteCond %{THE_REQUEST} !(/signserver/.*)
  RewriteRule (.*) https://%{HTTP_HOST}/signserver/ [R]
{% endif %}
</VirtualHost>
