Object Type: End Entity Profile
Version: 1
Name: tlsPeerConnMgmt
Max Failed Logins Modifiable: false
Description: ''
Default CA: ManagementCA
Available CAs:
- ManagementCA
Default Certificate Profile: tlsServerMgmtCA
Available Certificate Profiles:
- tlsPeerConnector
Default Token Type: User Generated
Available Token Types:
- User Generated
Issuance Revocation Reason Modifiable: false
CA Browser Forum Organization Identifier Modifiable: false
Subject DN:
  CN:
  - Required: true
  OU:
  - Required: true
    Modifiable: false
    Values:
    - Peering 
  O:
  - Required: true
    Modifiable: false
    Values:
    - {{ organizationName }}
  C:
  - Required: true
    Modifiable: false
    Values:
    - {{ countryName }}
Subject Alternative Name:
  DNSNAME:
  - Required: false
  - Required: false
  - Required: false
  IPADDRESS:
  - Required: false
  - Required: false
  - Required: false