Object Type: End Entity Profile
Version: 1
Name: userAuthentication
E-Mail Used: false
Description: ''
Default CA: {{ organizationNameShort }}-Sub-CA
Available CAs:
- {{ organizationNameShort }}-Sub-CA
Default Certificate Profile: Authentication-2048-3y
Available Certificate Profiles:
- Authentication-2048-3y
Default Token Type: User Generated
Available Token Types:
- User Generated
- PKCS12 File
- JKS File
- PEM File
Subject DN:
  CN:
  - Required: true
  OU:
  - Required: true
    Modifiable: false
    Values:
    - People
  O:
  - Required: true
    Modifiable: false
    Values:
    - {{ organizationName }}
  C:
  - Required: true
    Modifiable: false
    Values:
    - {{ countryName }}
Subject Alternative Name:
  UPN:
  - Required: true
