Object Type: EST Configuration
{% if ejbca_version >= '7.5' %}
Version: 2
{% else %}
Version: 1
{% endif %}
Name: device
RA Name Generation Scheme: DN
RA Name Generation DN Fields: CN
RA Name Generation Prefix: ''
RA Name Generation Postfix: ''
Default CA: {{ organizationNameShort }}-Sub-CA
End Entity Profile: estDevice
Certificate Profile: workstation
Require Client Certificate: false
Client Username: est2u
Client Password: foo123
Certificate Renewal with Same Keys: true