Object Type: EST Configuration
{% if ejbca_version >= '7.5' %}
Version: 2
{% else %}
Version: 1
{% endif %}
Name: firewall
RA Name Generation Scheme: DN
RA Name Generation DN Fields: CN
RA Name Generation Prefix: ''
RA Name Generation Postfix: ''
Default CA: {{ organizationNameShort }}-Sub-CA
End Entity Profile: vpnFirewall
Certificate Profile: vpnFirewall
Require Client Certificate: true
Client Username: ''
Client Password: ''
Certificate Renewal with Same Keys: true