---

- name: Check if EJBCA database exists
  command: >
    {{ ejbca_home }}/../clientToolBox/ejbcaClientToolBox.sh jdbc 
    --url jdbc:{{ appsrv_datasources[0].database_connection_type }}://{{ appsrv_datasources[0].host }}:{{ appsrv_datasources[0].port }}{% if appsrv_datasources[0].database_connection_type == "mariadb" %}/{{ appsrv_datasources[0].database }}{% elif appsrv_datasources[0].database_connection_type == "sqlserver" %};DatabaseName={{ appsrv_datasources[0].database }}{{ appsrv_datasources[0].connection_parameters }}{% endif %} 
    --username {{ appsrv_datasources[0].user }} 
    --password {{ appsrv_datasources[0].password }}
    --execute "SELECT rowVersion FROM GlobalConfigurationData WHERE configurationId='UPGRADE';"
  no_log: true
  become_user: "{{ ejbca_user }}"
  become: true
  register: check_ejbca_database_exists
  failed_when: check_ejbca_database_exists.rc >= 5
  changed_when: false

#- name: Debug check_ejbca_database_exists
#  debug:
#    var: check_ejbca_database_exists

- name: Create the EJBCA database tables and apply indexes
  block:

    - name: Create EJBCA database tables
      command: >
        {{ ejbca_home }}/../clientToolBox/ejbcaClientToolBox.sh jdbc 
        --url jdbc:{{ appsrv_datasources[0].database_connection_type }}://{{ appsrv_datasources[0].host }}:{{ appsrv_datasources[0].port }}{% if appsrv_datasources[0].database_connection_type == "mariadb" %}/{{ appsrv_datasources[0].database }}{% elif appsrv_datasources[0].database_connection_type == "sqlserver" %};DatabaseName={{ appsrv_datasources[0].database }}{{ appsrv_datasources[0].connection_parameters }}{% endif %} 
        --username {{ appsrv_datasources[0].user }} 
        --password {{ appsrv_datasources[0].password }}
        --file {{ ejbca_home }}/doc/sql-scripts/create-tables-ejbca-{% if appsrv_datasources[0].database_connection_type == "mariadb" %}mysql{% elif appsrv_datasources[0].database_connection_type == "sqlserver" %}mssql{% endif %}.sql
      no_log: true
      become_user: "{{ ejbca_user }}"
      become: true
      register: create_ejbca_database
      ignore_errors: yes

#    - name: Debug create_ejbca_database
#      debug:
#        var: create_ejbca_database

    - name: Add EJBCA database indexes
      command: >
        {{ ejbca_home }}/../clientToolBox/ejbcaClientToolBox.sh jdbc 
        --url jdbc:{{ appsrv_datasources[0].database_connection_type }}://{{ appsrv_datasources[0].host }}:{{ appsrv_datasources[0].port }}{% if appsrv_datasources[0].database_connection_type == "mariadb" %}/{{ appsrv_datasources[0].database }}{% elif appsrv_datasources[0].database_connection_type == "sqlserver" %};DatabaseName={{ appsrv_datasources[0].database }}{{ appsrv_datasources[0].connection_parameters }}{% endif %} 
        --username {{ appsrv_datasources[0].user }} 
        --password {{ appsrv_datasources[0].password }}
        {{ item.index }}
      loop: "{{ ejbca_database_indexes }}" 
      no_log: true
      become_user: "{{ ejbca_user }}"
      become: true
      register: applying_database_indexes
      ignore_errors: yes

    - name: Log the Index errors 
      debug:
        #msg: "Some part of applying database indexes failed with message: {{ applying_database_indexes.stderr }}"
        var: applying_database_indexes
        verbosity: 4
  when: check_ejbca_database_exists.rc == 3