# ------------- Database configuration ------------------------
{{ ansible_managed | comment }}

database.name={{ ejbca_db_database_name }}
#database.useSeparateCertificateTable={{ ejbca_db_database_useSeparateCertificateTable }}
