---
# defaults file for primekeyprep

ejbca_root_dir: /opt
ejbca_home: "{{ ejbca_root_dir }}/ejbca"
wildfly_install_dir: /opt
wildfly_home: "{{ wildfly_install_dir }}/wildfly"
wildfly_manage_service: true

ejbca_src_link_dir: "{{  ejbca_root_dir }}/ejbca"

organizationName: Solitude
organizationNameShort: "{{ organizationName }}"
organizationDomainName: solitude.skyrim

ejbca_jdbc_remote_dir: ~/Downloads/PK-Software/mariadb-java-client-2.7.2.jar
ejbca_jdbc_gen_name: "{{ appsrv_datasources[0].database_jar_filename }}"
# Maria DB JDBC driver download URL
ejbca_jdbc_driver: https://dlm.mariadb.com/1496775/Connectors/java/connector-java-2.7.2/mariadb-java-client-2.7.2.jar
# Maria DB JDBC driver SHA256 hash
ejbca_jdbc_driver_checksum: sha256:a3f6776df0842cf65e7f158515012d5307da949f66042282e1ee4474dd19f448

apache_ant_remote_dir: ~/Downloads/PK-Software/apache-ant-1.10.10-bin.tar.gz
ant_version: apache-ant-1.10.10-bin.tar.gz
ant_url: "https://mirror.olnevhost.net/pub/apache/ant/binaries/{{ ant_version }}"
# apache-ant-1.10.9-bin.tar.gz
#ant_checksum: sha256:5f8a85ddee6effe79163aa54c7bef6b60305e37200dedc1986437fb5c072a9f3 
ant_checksum: sha256:dd367fe70405e2ddd3d17175ea848fefe101efef2776ca80865c4f9ce412aa72

wildfly_standalone_file: standalone-24.xml.datasource.j2
wildfly_disable_infinispan: true

ejbca_manage_user: true
ejbca_group: wildfly
ejbca_user: wildfly
ejbca_user_profile: "/home/{{ ejbca_user }}"

# Location to write the CRL files on server
ejbca_crl_dir_enabled: false
ejbca_crl_dir:
  - /opt/web/CRLs
  - /opt/web/AIA

# apply_indexes: If default EJBCA database indexes should be applied. Will always report change if true
# database_name: Name of EJBCA database
management_database_indexes:
  apply_indexes: true
  database_name: ejbca

ejbca_database_indexes:
  - index: "--file {{ ejbca_home }}/doc/sql-scripts/create-index-ejbca.sql"
  - index: "--execute 'ALTER TABLE AuditRecordData row_format=compressed key_block_size=4;'"
  - index: "--execute 'ALTER TABLE CertReqHistoryData row_format=compressed key_block_size=4;'"
  - index: "--execute 'ALTER TABLE CRLData row_format=compressed key_block_size=16;'"
  - index: "--execute 'ALTER TABLE CertificateData row_format=compressed key_block_size=8;'"
  - index: "--execute 'ALTER TABLE UserData row_format=compressed key_block_size=4;'"

# EJBCA CA property files
ejbca_templated_properties_files:
  - src: cesecore.properties.j2
    dest: "{{ ejbca_home }}/../ejbca-custom/conf/cesecore.properties"
  - src: database.properties.j2
    dest: "{{ ejbca_home }}/../ejbca-custom/conf/database.properties"
  - src: ejbca.properties.j2
    dest: "{{ ejbca_home }}/../ejbca-custom/conf/ejbca.properties"
  #- src: install.properties.j2
  #  dest: "{{ ejbca_home }}/../ejbca-custom/conf/install.properties"
  - src: web.properties.j2
    dest: "{{ ejbca_home }}/../ejbca-custom/conf/web.properties"
  - src: mail.properties.j2
    dest: "{{ ejbca_home }}/../ejbca-custom/conf/mail.properties"
  - src: custom.properties.j2
    dest:  "{{ ejbca_home }}/../ejbca-custom/conf/custom.properties"

ejbca_force_build_ear: false

# EJBCA statedump utility source package ZIP file
ejbca_statedump_src: 

# If the statedump utility should be built into EJBCA
ejbca_build_statedump: false
# If the configdump utility should be built into EJBCA
ejbca_build_configdump: false

appsrv_datasources:
  - jndi_name: "java:/EjbcaDS"
    pool_name: ejbcads
    database_connection_type: mariadb
    database_driver_class: org.mariadb.jdbc.Driver
    database_jar_filename: mariadb-java-client.jar
    host: 127.0.0.1
    port: 3306
    database: ejbca
    user: ejbca-usr
    credential_ref: dbPassword
    password: "{{ encrypted_database_ejbcauser_password | default('ejbca') }}"

# Uncomment to configure Wildfly to send logs to a Syslog server 
#appsrv_syslogsources:
#  - name: SYSLOGTCP
#    enabled: true
#    log_level: INFO
#    ejbca_host: my.host
#    syslog_app_name: WildFly
#    syslog_server_address: my.graylog.server
#    syslog_server_port: 514
#    syslog_facility: local-use-1

wildfly_enable_kerberos: false
wildfly_kerberos_enable_debug_log: false
krb_conf_use_os_file: false
wildfly_kerberos_file_path: /etc/wildfly.krb5.conf
wildfly_kerberos_keytab_file: "{{ wildfly_home }}/standalone/configuration/ejbca.keytab"
# URL to download the keytab file used for kerberos.
wildfly_kerberos_keytab_file_url:
# SHA256 checksum of the keytab file
wildfly_kerberos_keytab_file_url_checksum:
wildfly_kerberos_keytab_principal: SVCEJBCA@INTERNAL.PRIMEKEY.COM
krb_conf_default_realm: INTERNAL.PRIMEKEY.COM
krb_conf_realms:
  - realm: INTERNAL.PRIMEKEY.COM
    kdc: INTERNAL.PRIMEKEY.COM
    default_domain:
    admin_server:


#ejbca.properties
ejbca_appserver_home: "{{ wildfly_home }}"
ejbca_conf_productionmode: false
ejbca_conf_allow_external_dynamic_configuration: true
# Password used to protect CMS keystores in the database (CAs CMS signer/enc certificate).
ejbca_conf_ca_cmskeystorepass: "{{ encrypted_ejbca_conf_ca_cmskeystorepass | default('ejbca') }}"
ejbca_conf_cli_default_username: ejbca
ejbca_conf_cli_default_password: "{{ encrypted_ejbca_cli_password | default('ejbca') }}"

# Parameter specifying amount of free memory (Mb) before alarming
# Default: 1
ejbca_conf_healtcheck_amountfreemem: 1

# Parameter specifying database test query string. Used to check that
# the database is operational.
# Default : Select 1 From CertificateData where fingerprint='XX'
ejbca_conf_healtcheck_dbquery: "Select 1 From CertificateData where fingerprint='XX'"

# Parameter specifying IP addresses authorized to access the healthcheck
# servlet. Use ';' for between multiple IPs.
# IPv6 address can be specified, for example 127.0.0.1;0:0:0:0:0:0:0:1.
# "ANY" can be specified to allow any remote IP.
ejbca_conf_healtcheck_authorizedips: 127.0.0.1

# Parameter to specify if the check of CA tokens should actually perform a signature test
# on the CA token, or it should only see if the token status is active.
# Default: false (don't perform a signature operation)
ejbca_conf_healtcheck_catokensigntest: false

# Parameter to specify if a connection test should be performed on each publisher.
# Default: false
ejbca_conf_healtcheck_publisherconnections: false

# Parameter to specify location of file containing information about maintenance
# Use this file to specify weather to include node in healthcheck or report as down for maintenance,
# which will return an error message (either the property name specified below or a custom message specified in web.xml).
# Default: empty (not used) ~/maintenance.properties
ejbca_conf_healtcheck_maintenancefile:

# Parameter to configure name of maintenance property, default = DOWN_FOR_MAINTENANCE
# The healthcheck.maintenancefile should contain a single line like this:
# DOWN_FOR_MAINTENANCE=true
# Where the node will be down for maintenance of the property is true, and not down for maintenance if the property is false.
# Default: DOWN_FOR_MAINTENANCE
ejbca_conf_healtcheck_maintenancepropertyname: DOWN_FOR_MAINTENANCE

# Text string used to say that every thing is ok with this node.
# Default=ALLOK
ejbca_conf_healtcheck_okmessage: ALLOK

# Parameter saying if a errorcode 500 should be sent in case of error.
# Default=true
ejbca_conf_healtcheck_sendservererror: true

# Uncomment this parameter if you want a static error message instead of one generated by the HealthChecker.
# Default=null
ejbca_conf_healtcheck_customerrormessage: EJBCANOTOK

#cesecore.properties
core_disable_audit_log_to_db: false
core_allow_external_dynamic_configuration: true
core_ca_serialnumberoctetsize: 20
core_db_keepjbossserialization: false
core_db_keepinternalcakeystores: false
core_ca_keepocspextendedservice: false

#database.properties
ejbca_db_database_useSeparateCertificateTable: true

#Enable DB integrity protection
databaseprotection_enablesign_AuditRecordData: false
databaseprotection_enableverify_AuditRecordData: false

#mail.properties
mail_from: "ejbca-donotreply@{{ organizationDomainName }}" 

#web.properties
web_httpserver_external_privhttps: 443
web_selfreg_enabled: false
web_reqcertindb: true

# Elytron password file location
wildfly_elytron_pass_dir: /opt/elytron
wildfly_elytron_pass_file: "{{ wildfly_elytron_pass_dir }}/wildfly_pass"
