Object Type: ACME Configuration
Version: 1
Name: {{ organizationDomainName | replace('.','-') | lower}}-eab
{% if ejbca_version is version('7.10.0', '>=') %}
RA Name Generation Scheme: DN
RA Name Generation Params: CN
{% endif %}
End Entity Profile: tlsServerAcme
Pre-Authorization Allowed: false
Wildcard Certificate Issuance Allowed: false
Wildcard Certificate Issuance for http-01 Challenge Allowed: false
DNS Identifier Challenge Types: any-dns-challenge
Terms of service require new approval: true
Agree to new Terms of service allowed: true
Site URL: https://www.example.com/
Terms of Service URL: https://example.com/acme/terms
Terms of Service Change URL: https://example.com/acme/termsChanged
DNS Resolver: 8.8.8.8
DNS Port: 53
DNSSEC Trust Anchor: |-
  . IN DS 19036 8 2 49AAC11D7B6F6446702E54A1607371607A1A41855200FD2CE1CDDE32F24E8FB5
  . IN DS 20326 8 2 E06D44B80B8F1D39A95C0B0D7C65D08458E880409BBC683457104237C7F8EC8D
Validate DNSSEC: false
{% if ejbca_version is version('7.11.0', '>=') %}
Require Client Authentication: false
{% endif %}
{% if ejbca_version is version('7.5.0', '>=') %}
Require External Account Binding: true
External Account Binding:
- Version: 1.0
  Type Identifier: ACME_EAB_RFC_COMPLIANT
  Key Identifier: solitude-eab
  Mac Algorithm: HS256
  Encrypt Key: false
  Encryption Key Id: 'null'
  Encryption Key Alias: null
  Symmetric Key: 70a43knJd_j9--geK3bNa06_pqF7-Pj7eR8Z0Dz8z-R7DYCayRmldcAwCvy_DjkH
# End of EAB
{% endif %}
Retry After: 0
Authorized Redirect Ports: 22,25,80,443
{% if ejbca_version is version('7.7.0', '>=') %}
Approval Profile for newAccount: -1
Approval Profile for keyChange: -1
{% endif %}