Object Type: Certification Authority
Version: 2
Name: SSH-CA-G1
Type of CA: SSHCA
Serial Number Octet Size: 20
Certificate Profile: sshCA-5y
Default Certificate Profile: Not used
CA Token:
  Signature Algorithm: Ed25519
  Encryption Algorithm: SHA256WithRSA
  Crypto Token: sshCA
  Default Key: defaultKey001
  Certificate Signing Key: signKey001
  CRL Signing Key: signKey001
  Key Encryption Key: defaultKey001
  Test Key: testKey
  Key Sequence Format: Numeric
  Key Sequence: '00000'
Enforce Unique Public Keys: true
Enforce key renewal: false
Enforce Unique DN: true
User Storage: true
Certificate Storage: true
Accept Revocations for Non-Existing Entries: false
Subject DN: CN=Solitude SSH CA G1,OU=Certification Authorities,O=Solitude,C=US
Signed By: Self Signed
Validity: 5y
LDAP DN Order: false