Object Type: Certificate Profile
Version: 1
Name: sshUser-1y
Type: 10
Available Key Algorithms:
- DSA
- ECDSA
- RSA
- Ed25519
- Ed448
- FALCON-512
- FALCON-1024
- DILITHIUM2
- DILITHIUM3
- DILITHIUM5
- NTRU
Available Elliptic Curves:
- ANY_EC_CURVE
Available Bit Lengths:
- 0
- 110
- 112
- 113
- 126
- 128
- 131
- 160
- 161
- 162
- 163
- 167
- 173
- 179
- 189
- 190
- 191
- 192
- 193
- 224
- 225
- 232
- 233
- 236
- 237
- 238
- 239
- 256
- 257
- 281
- 282
- 289
- 307
- 320
- 353
- 367
- 384
- 407
- 409
- 418
- 431
- 512
- 521
- 570
- 1024
- 1536
- 2048
- 3072
- 4096
- 6144
- 8192
Signature Algorithm: Inherit from Issuing CA
Validity: 1y
Description: ''
Overridable Extension OIDs: [
  ]
Non-overridable Extension OIDs: [
  ]
Key Usage:
- Digital Signature
- Non-Repudiation
- Key Encipherment
Extended Key Usage Used: true
Extended Key Usage:
- Client Authentication
- E-mail Protection
CVC Access Rights (Inspection System):
- DG3
- DG4
Available CAs:
- SSH-CA-G1
Account Binding Namespace: [
  ]