Object Type: Certificate Profile
Version: 1
Name: sshCA-5y
Type: Root CA
Available Key Algorithms:
- Ed25519
Available Elliptic Curves:
- ANY_EC_CURVE
Available Bit Lengths:
- 0
- 110
- 112
- 113
- 126
- 128
- 131
- 160
- 161
- 162
- 163
- 167
- 173
- 179
- 189
- 190
- 191
- 192
- 193
- 224
- 225
- 232
- 233
- 236
- 237
- 238
- 239
- 256
- 257
- 281
- 282
- 289
- 307
- 320
- 353
- 367
- 384
- 407
- 409
- 418
- 431
- 512
- 521
- 570
- 1024
- 1536
- 2048
- 3072
- 4096
- 6144
- 8192
Signature Algorithm: Ed25519
Validity: 5y
Description: ''
Overridable Extension OIDs: [
  ]
Non-overridable Extension OIDs: [
  ]
Authority Key Identifier Used: false
Key Usage:
- Digital Signature
- Key Certificate Sign
- CRL Sign
Extended Key Usage: [
  ]
Subject Alternative Name Used: false
Issuer Alternative Name Used: false
Microsoft ObjectSid Security Extension Used: false
CVC Access Rights (Inspection System): [
  ]
LDAP DN Order: false
Available CAs:
- Any CA
Account Binding Namespace: [
  ]