Object Type: End Entity Profile
Version: 1
Name: sshHost
Type: SSH
E-Mail Used: false
Description: ''
Default CA: SSH-CA-G1
Available CAs:
- SSH-CA-G1
Default Certificate Profile: sshHost-1mo
Available Certificate Profiles:
- sshHost-1mo
Default Token Type: User Generated
Available Token Types:
- User Generated
Ssh source-address: ''
Ssh force-command: ''
Subject DN:
  CN:
  - Required: false
Subject Alternative Name:
  DNSNAME:
  - Required: false
    Use: false
  RFC822NAME:
  - Required: false
    Use: false