Object Type: Certificate Extension
Version: 1
Name: Certificate Template Information
Extension class: BasicCertificateExtension
Object Identifier: 1.3.6.1.4.1.311.21.7
Critical: false
Required: true
Properties:
  encoding: DEROBJECT
  value: ''
  dynamic: 'true'