Object Type: Available Protocols
Version: 1
Name: available-protocol-configuration
ACME: true
Certstore: true
CMP: true
CRLstore: true
EST: true
MSAE: true
OCSP: true
Public Web: true
SCEP: true
RA Web: true
REST CA Management: false
REST Certificate Management: true
REST Crypto Token Management: true
REST End Entity Management: true
REST End Entity Management V2: true
REST Configdump: true
REST Certificate Management V2: true
REST SSH V1: false
Webdist: true
Web Service: true
ITS Certificate Management: false