---

# EJBCA version and deployment info
ejbca_version: 7.8.2.1
# If enabled Ansible controller is used as software repository for Apache Ant, EJBCA, and JDBC driver
use_local_repository: false
ejbca_remote_dir: ~/Downloads/PK-Software/ejbca_ee_7_7_0_RA.zip
ejbca_software_url: http://172.16.170.133:8080/ejbca/ejbca_ee_7_8_2_1_RA.zip
ejbca_src_dir_name: ejbca_ee_7_8_2_1_RA
ejbca_type: RA

# HSM Configuration
# Use softhsm for PKCS11
use_softhsm: true
use_ncipher: false
use_safenet_lunasa: false

# Slots to create for SoftHSM PKCS11
softhsm_gen_hsm_slots:
  - slot_name: AZURE_AUTH_SLOT
    slot_so_pin: "{{ encrypted_azure_auth_so_token_pin | default('foo123') }}" 
    slot_pin: "{{ encrypted_azure_auth_token_pin | default('foo123') }}"
  - slot_name: LDAP_AUTH_SLOT
    slot_so_pin: "{{ encrypted_ldap_auth_so_token_pin | default('foo123') }}" 
    slot_pin: "{{ encrypted_ldap_auth_token_pin | default('foo123') }}"

# If true, allows running application server service via preload
ncipher_preload: false
# Path to the preload executable
preload_path: /opt/nfast/bin/preload
# HSM PKCS#11 shared library location
hsm_shared_library: /usr/lib64/libsofthsm2.so
#hsm_shared_library: /usr/safenet/lunaclient/lib/libCryptoki2_64.so
    
appsrv_datasources:
  - jndi_name: "java:/EjbcaDS"
    pool_name: ejbcads
    database_connection_type: mariadb
    database_driver_class: org.mariadb.jdbc.Driver
    database_jar_filename: mariadb-java-client.jar
    host: 127.0.0.1
    backup_host:
    port: 3306
    database: ejbca
    user: ejbca-usr
    credential_ref: dbPassword
    password: "{{ encrypted_database_ejbcauser_password | default('ejbca') }}"

# Uncomment to configure Wildfly to send logs to a Syslog server 
#appsrv_syslogsources:
#  - name: SYSLOGTCP
#    enabled: true
#    log_level: INFO
#    ejbca_host: my.host
#    syslog_app_name: WildFly
#    syslog_server_address: my.graylog.server
#    syslog_server_port: 514
#    syslog_facility: local-use-1

ejbca_templated_properties_files:
  - src: cesecore.properties.j2
    dest: "{{ ejbca_home }}/../ejbca-custom/conf/cesecore.properties"
  - src: database.properties.j2
    dest: "{{ ejbca_home }}/../ejbca-custom/conf/database.properties"
  - src: ejbca.properties.j2
    dest: "{{ ejbca_home }}/../ejbca-custom/conf/ejbca.properties"
  - src: web.properties.j2
    dest: "{{ ejbca_home }}/../ejbca-custom/conf/web.properties"
  - src: mail.properties.j2
    dest: "{{ ejbca_home }}/../ejbca-custom/conf/mail.properties"
  - src: custom.properties.j2
    dest:  "{{ ejbca_home }}/../ejbca-custom/conf/custom.properties"

# Parameter specifying IP addresses authorized to access the healthcheck
# servlet. Use ';' for between multiple IPs.
# IPv6 address can be specified, for example 127.0.0.1;0:0:0:0:0:0:0:1.
# "ANY" can be specified to allow any remote IP.
ejbca_conf_healtcheck_authorizedips: 127.0.0.1

# web.properties file
# Set the hostname for configuring OAuth Reply URL
web_httpserver_hostname: "{{ httpd_identity_info.id_name }}"
web_httpserver_external_privhttps: 443
web_reqcertindb: false
