[defaults]
gathering = smart
inventory = ./inventory
fact_caching = jsonfile
fact_caching_connection = ~/ansible/ansibleCacheDir
fact_caching_timeout = 86400

ansible_managed = This file is managed by Ansible.%n
  template: {file}
  date: %Y-%m-%d %H:%M:%S
  user: {uid}
  host: {host}
  
# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True