[defaults]
gathering = smart
inventory = ./inventory
fact_caching = jsonfile
fact_caching_connection = ~/ansible/ansibleCacheDir
fact_caching_timeout = 86400
library = ./lib/ansible/modules
module_utils = ./lib/ansible/module_utils
collections_path = ./ejbca/cli

ansible_managed = This file is managed by Ansible.%n
  template: {file}
  date: %Y-%m-%d %H:%M:%S
  user: {uid}
  host: {host}
  
# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True

localhost_warning = false
action_warnings = false
system_warnings = false
#interpreter_python= /usr/bin/python3.9
interpreter_python = auto_silent
