[defaults]
gathering = smart
inventory = ./inventory
fact_caching = jsonfile
fact_caching_connection = ~/ansible/ansibleCacheDir
fact_caching_timeout = 86400
collections_paths = ./ansible_collections

ansible_managed = This file is managed by Ansible.%n
  template: {file}
  date: %Y-%m-%d %H:%M:%S
  user: {uid}
  host: {host}
  
# Use the YAML callback plugin.
stdout_callback = yaml
#stdout_callback = json
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True

localhost_warning = false
action_warnings = false
system_warnings = false
#interpreter_python= /usr/bin/python3.9
interpreter_python = auto_silent



