# ------------- Database configuration ------------------------
#{{ ansible_managed | comment }}

database.useSeparateCertificateTable={{ ejbca_db_database_useSeparateCertificateTable }}
{% if appsrv_datasources[0] is defined %}{% for item in appsrv_datasources %}
database.url=jdbc:{{ item.database_connection_type| default('mariadb') }}://{{ item.host }}:{{ item.port }}{% if item.database_connection_type == "mariadb" %}/{{ item.database }}{% elif item.database_connection_type == "sqlserver" %};DatabaseName={{ item.database }}{{ item.connection_parameters }}
{% endif %}
database.driver={{ item.database_driver_class| default('org.mariadb.jdbc.Driver') }}
database.username={{ item.user }}
database.password={{ item.password }}
database.name={%if "mariadb" == item.database_connection_type %}mysql{%elif "sqlserver" == item.database_connection_type%}mssql{%else%}{{ item.database_connection_type }}{% endif %}
{% endfor %}{% endif %}
