# Sample configuration of an TimeMonitorManager.
#

WORKERGENID{{ item.id }}.TYPE=PROCESSABLE
WORKERGENID{{ item.id }}.IMPLEMENTATION_CLASS=org.signserver.module.timemonitormanager.TimeMonitorManager
WORKERGENID{{ item.id }}.NAME={{ item.name }}
WORKERGENID{{ item.id }}.AUTHTYPE=org.signserver.server.RemoteAddressAuthorizer
WORKERGENID{{ item.id }}.ALLOW_FROM={{ item.allow_from }}
WORKERGENID{{ item.id }}.WORKERLOGGER=org.signserver.server.log.NullWorkerLogger

# The below values needs to be adjusted to the environment:
WORKERGENID{{ item.id }}.TIMESERVER.HOST={{ item.ntp_hosts }}
WORKERGENID{{ item.id }}.TIMESERVER.SENDSAMPLES={{ item.timeserver_SendSamples | default('2') }}
WORKERGENID{{ item.id }}.TIMESERVER.TIMEOUT={{ item.timeserver_Timeout | default('0.2') }}

WORKERGENID{{ item.id }}.TIMEMONITOR.MAXACCEPTEDOFFSET={{ item.timemonitor_MaxAcceptedOffset | default('997') }}
WORKERGENID{{ item.id }}.TIMEMONITOR.WARNOFFSET={{ item.timemonitor_WarnOffset | default('500') }}
WORKERGENID{{ item.id }}.TIMEMONITOR.STATUSEXPIRETIME={{ item.timemonitor_StatusExpireTime | default('4500') }}
WORKERGENID{{ item.id }}.TIMEMONITOR.LEAPSTATUSEXPIRETIME={{ item.timemonitor_LeapStatusExpireTime | default('60000') }}
WORKERGENID{{ item.id }}.TIMEMONITOR.MINRUNTIME={{ item.timemonitor_MinRuntime | default('1000') }}
WORKERGENID{{ item.id }}.TIMEMONITOR.WARNRUNTIME={{ item.timemonitor_WarnRuntime | default('700') }}

WORKERGENID{{ item.id }}.TIMEMONITOR.DISABLED={{ item.timeMonitorDisabled }}

WORKERGENID{{ item.id_2 }}.TYPE=PROCESSABLE
WORKERGENID{{ item.id_2 }}.IMPLEMENTATION_CLASS=org.signserver.module.timemonitormanager.TimeMonitorStatusReportWorker
WORKERGENID{{ item.id_2 }}.NAME={{ item.name_2 }}
WORKERGENID{{ item.id_2 }}.AUTHTYPE=org.signserver.server.RemoteAddressAuthorizer
WORKERGENID{{ item.id_2 }}.ALLOW_FROM={{ item.allow_from_2 }}
WORKERGENID{{ item.id_2 }}.WORKERLOGGER=org.signserver.server.log.NullWorkerLogger