#Listen 80
<VirtualHost *:80>
    # Create a load balancer setup for EJBCA
    <Proxy balancer://SignSrvCluster >
       BalancerMember ajp://127.0.0.1:8009 keepalive=On ping=500ms retry=1 timeout=300
       #BalancerMember ajp://%EJBCA2Hostname%:8009
       ProxySet lbmethod=byrequests
    </Proxy>
    DocumentRoot /var/www/html/
    # Disallow any HTTP method that is not HEAD, GET or POST
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} !^(HEAD|GET|POST)$ [NC]
    RewriteRule .* - [F,L]
    # Redirect legacy EJBCA enrollment to HTTPS
    #RewriteCond %{HTTPS} !=on
    #RewriteRule ^/?ejbca/enrol/(.*) https://%{SERVER_NAME}/ejbca/enrol/$1 [R,L]
    # Allow encoded slashes for OCSP GET
    AllowEncodedSlashes On
    ProxyPass /signserver/      balancer://SignSrvCluster/signserver/

    # Redirect /, /ejbca, /signserver and non-proxied URLs to /ejbca/
    RewriteCond %{THE_REQUEST} !(/signserver/.*) [OR]
    RewriteCond %{THE_REQUEST} (/signserver/ejbcaws.*|/signserver/adminweb.*)
    RewriteRule (.*) https://%{HTTP_HOST}/signserver/ [R]
</VirtualHost>