#
# $Id$
#
#{{ ansible_managed | comment }}

#ca.name=ManagementCA
#ca.dn={{ mgmtCA_ca_dn| default('CN=ManagementCA') }}
#ca.tokentype={{ mgmtCA_ca_tokentype| default('soft') }}
#ca.tokenpassword=null
#ca.keyspec={{ mgmtCA_ca_keyspec| default('4096') }}
#ca.keytype={{ mgmtCA_ca_keytype| default('RSA') }}
#ca.signaturealgorithm={{ mgmtCA_ca_signaturealgorithm| default('SHA512WithRSA') }}
#ca.validity={{ mgmtCA_ca_validity| default('9131') }}
#ca.policy=null