# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs

# EJBCA variables
APPSRV_HOME={{ wildfly_home| default('/opt/wildfly') }}
EJBCA_HOME={{ ejbca_home| default('/opt/ejbca') }}
JAVA_HOME={{ ejbca_java_home | default('/usr/lib/jvm/java') }}
ANT_HOME={{ ejbca_ant_home | default('/opt/apache-ant') }}
CLASSPATH=/opt/ejbca:$CLASSPATH

PATH=$PATH:$HOME/.local/bin:$HOME/bin:${APPSRV_HOME}/bin:${EJBCA_HOME}/bin:${JAVA_HOME}/bin:${ANT_HOME}/bin:$PATH
export PATH APPSRV_HOME EJBCA_HOME JAVA_HOME JAVA_OPTS ANT_HOME SC_READER CS_DEVICE CLASSPATH