{{ ansible_managed | comment }}

#Listen 80
<VirtualHost *:80>
    # Create a load balancer setup for EJBCA
    <Proxy balancer://EJBCACluster >
       BalancerMember ajp://127.0.0.1:8009 keepalive=On ping=500ms retry=1 timeout=300
       #BalancerMember ajp://%EJBCA2Hostname%:8009
       ProxySet lbmethod=byrequests
    </Proxy>
    DocumentRoot /var/www/html/
    # Disallow any HTTP method that is not HEAD, GET or POST
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} !^(HEAD|GET|POST)$ [NC]
    RewriteRule .* - [F,L]
    # Redirect legacy EJBCA enrollment to HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^/?ejbca/enrol/(.*) https://%{SERVER_NAME}/ejbca/enrol/$1 [R,L]
    # Allow encoded slashes for OCSP GET
    AllowEncodedSlashes On
    ProxyPass /ejbca/      balancer://EJBCACluster/ejbca/
    ProxyPass /ocsp        balancer://EJBCACluster/ejbca/publicweb/status/ocsp

{% if use_httpd_crl_map is defined and use_httpd_crl_map is sameas true %}
    #Vanity CRL URLs
    RewriteMap vanityCrlLC int:tolower
    RewriteMap vanityCrls "txt:/etc/httpd/rewriteMaps/crlmapping.txt"
    RewriteRule "^.*/crl/(.+)\.crl" "/ejbca/publicweb/crls/search.cgi?sKIDHash=${vanityCrls:${vanityCrlLC:$1}|$1}" [PT,QSA,E=vanityCrl:$1]
    Header unset Content-disposition env=vanityCrl
{% endif %}

{% if use_httpd_aia_directory is defined and use_httpd_aia_directory is sameas true %}
    #AIA directory access for Base64 PEM CA Cert retrieval
    <Directory /var/www/html/aia>
        Require all granted
        AddType application/x-pem-file .crt
    </Directory>
{% endif %}

    # Redirect /, /ejbca, /signserver and non-proxied URLs to /ejbca/
    RewriteCond %{THE_REQUEST} !(/signserver/.*|/ejbca/.*|/CRLs/.*|/AIA/.*|/ocsp.*) [OR]
    RewriteCond %{THE_REQUEST} (/ejbca/ejbcaws.*|/ejbca/adminweb.*)
    RewriteRule (.*) http://%{HTTP_HOST}/ejbca/ [R]
</VirtualHost>