#Listen 80
<VirtualHost *:80>
    # Create a load balancer setup for EJBCA
    <Proxy balancer://EJBCACluster >
       BalancerMember ajp://127.0.0.1:8009 keepalive=On ping=500ms retry=1 timeout=300
       #BalancerMember ajp://%EJBCA2Hostname%:8009
       ProxySet lbmethod=byrequests
    </Proxy>
    DocumentRoot /var/www/html/
    # Disallow any HTTP method that is not HEAD, GET or POST
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} !^(HEAD|GET|POST)$ [NC]
    RewriteRule .* - [F,L]
    # Redirect legacy EJBCA enrollment to HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^/?ejbca/enrol/(.*) https://%{SERVER_NAME}/ejbca/enrol/$1 [R,L]
    # Allow encoded slashes for OCSP GET
    AllowEncodedSlashes On
    ProxyPass /ejbca/      balancer://EJBCACluster/ejbca/
{% if use_external_va is defined and use_external_va is sameas false or ejbca_type is defined and 'VA' == ejbca_type %}
    ProxyPass /ocsp        balancer://EJBCACluster/ejbca/publicweb/status/ocsp
{% endif %}
    # Redirect /, /ejbca and non-proxied URLs to /ejbca/
{% if use_external_va is defined and use_external_va is sameas false or ejbca_type is defined and 'VA' == ejbca_type %}
    RewriteCond %{THE_REQUEST} !(/ejbca/.*|/CRLs/.*|/AIA/.*|/ocsp.*) [OR]
{% else %}
    RewriteCond %{THE_REQUEST} !(/ejbca/.*|/CRLs/.*|/AIA/.*) [OR]
{% endif %}
    RewriteCond %{THE_REQUEST} (/ejbca/ejbcaws.*|/ejbca/adminweb.*)
    RewriteRule (.*) http://%{HTTP_HOST}/ejbca/ [R]

    <Directory "/var/www/html">
      Options FollowSymlinks
      AllowOverride None
      <RequireAll>
        Require all granted
      </RequireAll>
    </Directory>

</VirtualHost>