Object Type: Service
Version: 1
Name: HSM Keepalive
Worker Type: HSM Keepalive Service
Worker Properties: {
  }
Interval Type: Periodical Interval
Interval Properties:
  Periodical Value: 5
  Periodical Unit: MINUTES
Action Type: No Action
Action Properties: {
  }
Description: ''
Active: true
Hidden: false
Pin to Specific Nodes: [
  ]
Run on All Nodes: true
