{
"plugin_directory": "/vault/vault_plugins",
"log_level": "{{ vault_log_level | default('Info') }}",
"listener": [{
"tcp": {
"address" : "0.0.0.0:8200",
"tls_disable" : 1
}
}],
{% if vault_tls_listener is sameas true %}
"listener": [{
"tcp": {
"address" : "0.0.0.0:{{ vault_tls_tcp_port }}",
"tls_cert_file" : "/vault/config/vault.crt",
"tls_key_file" : "/vault/config/vault.key"
}
}],
{% endif %}
"api_addr": "{{ vault_api_addr | default('http://127.0.0.1')}}",
"storage": {
    "file": {
    "path" : "/vault/file"
    }
 },
"max_lease_ttl": "10h",
"default_lease_ttl": "10h",
"ui":true
}