# roles/mariadb/vars/RedHat.yml
---

mariadb_packages:
  - MariaDB-common
  - MariaDB-server
  - MySQL-python
  - MariaDB-backup

rhel_mariadb_packages:
  - rh-mariadb103-mariadb
  - rh-mariadb103-mariadb-backup
  - rh-mariadb103-mariadb-common
  - MariaDB-client
  - MySQL-python

mariadb_packages_8:
  - MariaDB-common
  - MariaDB-server
  - MariaDB-backup
  - python3-PyMySQL

mariadb_socket: /var/lib/mysql/mysql.sock

mariadb_config_network: /etc/my.cnf.d/network.cnf
mariadb_config_server: /etc/my.cnf.d/server.cnf
mariadb_config_custom: /etc/my.cnf.d/custom.cnf
