---
# defaults file for ansible-ejbca-peer-in
ejbca_csr_dir_output: "{{ playbook_dir }}/ejbcaCSR"
ejbca_root_dir: /opt
ejbca_home: "{{ ejbca_root_dir }}/ejbca"
ejbca_sh: "{{ ejbca_home }}/bin/ejbca.sh"
wildfly_install_dir: /opt
wildfly_home: "{{ wildfly_install_dir }}/wildfly"
wildfly_manage_service: true
ejbca_group: wildfly
ejbca_user: wildfly

# Used to name the Root & Sub CA templates
organizationName: Solitude

identity_batch_output_dir: /var/tmp

configdump_dir_structure_1:
  - "{{ ejbca_home }}/dump/dump1/admin-roles"

configdump_ra_files_dump1:
  - src: 'raPeeringRole.yaml.j2'
    dest: '{{ ejbca_home }}/dump/dump1/admin-roles/raPeeringRole.yaml'

configdump_va_files_dump1:
  - src: 'vaPeeringRole.yaml.j2'
    dest: '{{ ejbca_home }}/dump/dump1/admin-roles/vaPeeringRole.yaml'