---
# tasks file for ansible-ejbca-ca-ee

- name: Database Protection Keys
  block:

    - name: Test that HSM slots are available for Database Protection
      include_tasks: hsm_test.yml
      loop: "{{ ejbca_databaseprotection |subelements('crypto_token') }}"
      loop_control:
        label: "{{ key_item.0.slot_identifier_value }}"
        loop_var: key_item
      no_log: true
      tags: hsm_test

    - name: Generate key on HSM for Database Protection
      include_tasks: clienttoolbox_key_generation.yml
      loop: "{{ ejbca_databaseprotection |subelements('crypto_token') }}"
      loop_control:
        label: "{{ key_item.0.slot_identifier_value }}"
        loop_var: key_item
      no_log: true
      tags: clienttoolbox_key_generation

  when: 
    - ejbca_databaseprotection[0] is defined
    - databaseprotection_enablesign_AuditRecordData is defined
    - databaseprotection_enablesign_AuditRecordData|bool
    - databaseprotection_enableverify_AuditRecordData is defined
    - databaseprotection_enableverify_AuditRecordData|bool 

- name: Management & Root CA Keys
  block:

    - name: Test that HSM slots are available for Management & Root CA's
      include_tasks: hsm_test.yml
      loop: "{{ management_add_certification_authorities |subelements('crypto_token') }}"
      loop_control:
        label: "{{ key_item.0.caname }}"
        loop_var: key_item
      no_log: true
      tags: hsm_test

    - name: Generate key on HSM for Management & Root CA's
      include_tasks: clienttoolbox_key_generation.yml
      loop: "{{ management_add_certification_authorities |subelements('crypto_token') }}"
      loop_control:
        label: "{{ key_item.0.caname }}"
        loop_var: key_item
      no_log: true
      tags: clienttoolbox_key_generation
  
  when: management_add_certification_authorities[0] is defined

- name: Sub CA Keys
  block:

    - name: Test that HSM slots are available for Sub CA's
      include_tasks: hsm_test.yml
      loop: "{{ sub_add_certification_authorities |subelements('crypto_token') }}"
      loop_control:
        label: "{{ key_item.0.caname }}"
        loop_var: key_item
      no_log: true
      tags: hsm_test

    - name: Generate key on HSM for Sub CA's
      include_tasks: clienttoolbox_key_generation.yml      
      loop: "{{ sub_add_certification_authorities |subelements('crypto_token') }}"
      loop_control:
        label: "{{ key_item.0.caname }}"
        loop_var: key_item
      no_log: true
      tags: clienttoolbox_key_generation

  when: sub_add_certification_authorities[0] is defined

- name: Key Binding Keys
  block:

    - name: Test that HSM slots are available for Key Bindings
      include_tasks: hsm_test.yml
      loop: "{{ ejbca_keybinding |subelements('crypto_token') }}"
      loop_control:
        label: "{{ key_item.0.slot_identifier_value }}"
        loop_var: key_item
      no_log: true
      tags: hsm_test
      when: ("PKCS11CryptoToken" in key_item.0.tokentype)

    - name: Generate key on HSM for Key Bindings
      include_tasks: clienttoolbox_key_generation.yml      
      loop: "{{ ejbca_keybinding |subelements('crypto_token') }}"
      loop_control:
        label: "{{ key_item.0.slot_identifier_value }}"
        loop_var: key_item
      no_log: true
      tags: clienttoolbox_key_generation
      when: ("PKCS11CryptoToken" in key_item.0.tokentype)

  when: ejbca_keybinding[0] is defined

- name: Check deployment
  include_tasks: check_deployment.yml
  tags: check_deployment
  when: ejbca_databaseprotection[0] is defined or management_add_certification_authorities[0] is defined or management_import_certification_authorities[0] is defined or management_add_end_entities[0] is defined or management_add_administrators[0] is defined or ejbca_keybinding[0] is defined

- name: Prepare configdump template files
  include_tasks: config_configdump.yml

- name: Use Configdump to create the Management & Root CA's
  block:

    - name: Create crypto tokens for Management & Root CA's
      include_tasks: add_crypto_token.yml
      loop: "{{ management_add_certification_authorities }}"
      no_log: true

    - name: Stage Management & Root CA to create with configdump
      template:
        src: ca-template.yml.j2
        dest: "{{ ejbca_home }}/dump/dump1/certification-authorities/{{ item.caname }}.yaml"
        owner: "{{ ejbca_user }}"
        group: "{{ ejbca_group }}"
        mode: 0664
      loop: "{{ management_add_certification_authorities }}"
      loop_control:
        label: "{{ item.caname }}"
      no_log: true

    - name: Intialize Management & Root CA's with configdump
      command: "./configdump.sh import  --ignore-errors --overwrite update --non-interactive continue -l {{ ejbca_home }}/dump/dump1 --initialize"
      args:
        chdir: "{{ ejbca_home }}/dist/configdump"
      become: yes 
      become_user: "{{ ejbca_user }}"
  when: deploy_with_configdump|bool and management_add_certification_authorities[0] is defined 

- name: Use CLI to create the Management & Root CA's
  block:

    - name: Import configdump of Root CA templates and EKU's
      command: "./configdump.sh import  --ignore-errors --overwrite update --non-interactive continue -l {{ ejbca_home }}/dump/dump1"
      args:
        chdir: "{{ ejbca_home }}/dist/configdump"
      become: yes 
      become_user: "{{ ejbca_user }}"
      
    - name: Initialize Management & Root CAs with CLI commands
      include_tasks: init_ca.yml
      loop: "{{ management_add_certification_authorities }}"
      no_log: true
      tags: create_cas

    - name: Configure ManagmentCA and Root CA settings
      include_tasks: config_ca_extensions.yml
      loop: "{{ management_add_certification_authorities }}"
      no_log: true
      tags: configure_cas_extentions

  when: management_add_certification_authorities[0] is defined and not deploy_with_configdump|bool

- name: Use Configdump to create the Sub CA's
  block:

    - name: Create crypto tokens for Sub CA's
      include_tasks: add_crypto_token.yml
      loop: "{{ sub_add_certification_authorities }}"
      no_log: true

    - name: Stage Sub CA's to create with configdump
      template:
        src: ca-template.yml.j2
        dest: "{{ ejbca_home }}/dump/dump2/certification-authorities/{{ item.caname }}.yaml"
        owner: "{{ ejbca_user }}"
        group: "{{ ejbca_group }}"
        mode: 0664
      loop: "{{ sub_add_certification_authorities }}"
      no_log: true

    - name: Intialize Sub CA's with configdump
      command: "./configdump.sh import  --ignore-errors --overwrite update --non-interactive continue -l {{ ejbca_home }}/dump/dump2 --initialize"
      args:
        chdir: "{{ ejbca_home }}/dist/configdump"
      become: yes 
      become_user: "{{ ejbca_user }}"

  when: deploy_with_configdump|bool and sub_add_certification_authorities[0] is defined

- name: Use CLI to create the Sub CA's
  block:

    - name: Import configdump of profiles and services
      command: "./configdump.sh import  --ignore-errors --overwrite update --non-interactive continue -l {{ ejbca_home }}/dump/dump2"
      args:
        chdir: "{{ ejbca_home }}/dist/configdump"
      become: yes 
      become_user: "{{ ejbca_user }}"
      
    - name: Initialize Sub CA's with CLI commands
      include_tasks: init_ca.yml
      loop: "{{ sub_add_certification_authorities }}"
      loop_control:
        label: "{{ item.caname }}"
      no_log: true
      tags: create_cas

    - name: Configure Sub CA's settings
      include_tasks: config_ca_extensions.yml
      loop: "{{ sub_add_certification_authorities }}"
      no_log: true
      tags: configure_cas_extentions

  when: sub_add_certification_authorities[0] is defined and not deploy_with_configdump|bool

- name: Create Key Binding 
  include_tasks: add_keybinding_ca.yml
  when: 
    - use_external_va|bool or use_external_ra|bool or use_external_ss|bool

- name: Create Peer Connector
  include_tasks: add_peer_conn.yml
  when: use_external_va|bool or use_external_ra|bool or use_external_ss|bool

- name: Add External VA setup to EJBCA
  block:

    - name: Create External VA Publisher template files to import with configdump
      template:
        src: 'publisher-ocsp.yaml.j2'
        dest: '{{ ejbca_home }}/dump/va/publishers/ocspPublisher-{{ item.name }}.yaml'
      loop: "{{ ejbca_peerConnector }}"
      loop_control:
        label: "{{ item.name }}"
      when: ("ocsp" in item.type)

    - name: Create External VA OCSP key update service template files to import with configdump
      template:
        src: 'service-oscp-keyupdate.yaml.j2'
        dest: '{{ ejbca_home }}/dump/va/services/ocspKeyUpdate-{{ item.name }}.yaml'
      loop: "{{ ejbca_peerConnector }}"
      when: 
        - ("ocsp" in item.type)
        - remote_key_update|bool

    - name: Create external VA services and publisher with configdump
      command: "./configdump.sh import  --ignore-errors --overwrite update --non-interactive continue -l {{ ejbca_home }}/dump/va"
      args:
        chdir: "{{ ejbca_home }}/dist/configdump"
      become: yes 
      become_user: "{{ ejbca_user }}"

  when:
    - use_external_va is defined
    - use_external_va|bool

- name: Import Approval Profiles
  include_tasks: add_app_profs.yml

- name: Import configdump of profiles, services, & publishers
  command: "./configdump.sh import --ignore-errors --overwrite update --non-interactive continue -l {{ ejbca_home }}/dump/dump3"
  args:
    chdir: "{{ ejbca_home }}/dist/configdump"
  become: yes 
  become_user: "{{ ejbca_user }}"

- name: Create external RA role with configdump
  command: "./configdump.sh import --ignore-errors --overwrite update --non-interactive continue -l {{ ejbca_home }}/dump/ra"
  args:
    chdir: "{{ ejbca_home }}/dist/configdump"
  become: yes 
  become_user: "{{ ejbca_user }}"
  when: use_external_ra|bool

- name: Configure EJBCA Enrollment protocols
  include_tasks: config_ejbca_services.yaml

- name: Add end entities
  include_tasks: add_end_entities.yml
  tags: add_end_entities
  when: management_add_end_entities[0] is defined

- name: Add administrators
  include_tasks: add_administrators.yml
  tags: add_administrators
  when: management_add_administrators[0] is defined

- name: Create a Crontab to download CRL's for hosting on webserver
  include_tasks: config_crontab.yml
  when: enable_crl_crontab|bool

- name: Setup SCP publishing
  include_tasks: setup_scp_publishing.yml
  tags: setup_scp_publishing
  when: management_known_hosts[0] is defined

- name: Setup localhost SCP publishing receiving users
  include_tasks: setup_localhost_scp_users.yml
  tags: setup_localhost_scp_users
  when: management_scp_localhost_receiving_users[0] is defined

- name: Setup localhost SCP publishing archive directories
  include_tasks: setup_localhost_scp_archives.yml
  tags: setup_localhost_scp_archives
  when: management_scp_localhost_archive_dirs[0] is defined

- name: Copy the superadmin p12 to the desktop
  include_tasks: copy_certs_local.yml
