version: '3'
services:
  vault:
    image: {{ vault_container_image |default('vault') }}
    build:
      context: ./build
      #dockerfile: dockerfile
      args:
        buildno: 1
{% if vault_container_name is defined %}
    hostname: {{ vault_container_name }}
{% endif %}
    container_name: vault
    ports:
      - "{{ vault_host_tcp_port }}:{{ vault_tcp_port }}"
    restart: always
    volumes:
      - ./vault_plugins:/vault/vault_plugins
      - ./logs:/vault/logs
      - ./file:/vault/file
      - ./config:/vault/config
    environment:
      - VAULT_CACERT=/vault/config/chain.crt
    cap_add:
      - IPC_LOCK
    entrypoint: vault server -config=/vault/config/vault.json