{
"plugin_directory": "/vault/vault_plugins",
"log_level": "Debug",
"listener": [{
"tcp": {
"address" : "0.0.0.0:8200",
"tls_disable" : 1
}
}],
"api_addr": "http://172.16.170.158:8200",
"storage": {
    "file": {
    "path" : "/vault/file"
    }
 },
"max_lease_ttl": "10h",
"default_lease_ttl": "10h",
"ui":true
}

{
  "plugin_directory": "/vault/vault_plugins",

  "backend": {
    "file": {
      "path": "/vault/file"
    }
  },
  "listener": {
    "tcp":{
      "address": "0.0.0.0:8200",
      "tls_disable": 1
    }
  },
  "ui": true
}




telemetry {
  prometheus_retention_time = "24h"
  disable_hostname = true
}

storage "raft" {
  path    = "/opt/vault/"
  node_id = "<host name>"
}
listener "tcp" {

  telemetry {
    unauthenticated_metrics_access = true
  }

  address = "0.0.0.0:50520"
  cluster_address = "<host ip>:50521"
  tls_disable = false
  tls_cert_file = "<host cert>"
  tls_key_file = "<host cert key>"
  tls_disable_client_certs = true
}
 
seal "transit" {
  address            = "http://127.0.0.1:8200"
  # token is read from VAULT_TOKEN env
  disable_renewal    = "false"

  // Key configuration
  key_name           = "unseal_key"
  mount_path         = "transit/"
}

service_registration "consul" {
  address = "127.0.0.1:50708"
}

plugin_directory = "/etc/vault.d/plugins"

disable_mlock = true
cluster_addr = "<hostname:port>"
api_addr = "<host ip:port>"

ui = true