# {{ ansible_managed }}

Listen 443
ServerTokens ProductOnly
SSLPassPhraseDialog exec:/usr/libexec/httpd-ssl-pass-dialog
SSLSessionCache         shmcb:/run/httpd/scache(512000)
SSLSessionCacheTimeout  300
SSLCryptoDevice builtin

<VirtualHost {{ httpd_identity_info.id_name }}:443>

# Create a load balancer setup for EJBCA
<Proxy balancer://EJBCACluster >
       BalancerMember ajp://127.0.0.1:8009 keepalive=On ping=500ms retry=1 timeout=300
       #BalancerMember ajp://%EJBCA2Hostname%:8009
       ProxySet lbmethod=byrequests
</Proxy>

  # Configure (basic) security headers for applications that don't provide their own
  Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; frame-ancestors 'self'"
  Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
  Header always append X-Frame-Options SAMEORIGIN "expr=%{REQUEST_STATUS} = 302"

  DocumentRoot /var/www/html
  ServerName {{ httpd_identity_info.id_name }}:443
  #ServerAlias *.domain.com
  ErrorLog logs/443_error_log
  TransferLog logs/443_access_log
  LogLevel warn
  LogFormat "%a A %h %H %l %m %s %t %u %U \"{Referer}I\" " combined
  CustomLog "logs/443_request_log" "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

  KeepAlive on
  TraceEnable off
  LimitRequestBody 20971520
  LimitRequestFields 20
  LimitRequestBody 8190
  LimitRequestLine 8190

  SSLEngine on
  SSLProtocol -all +TLSv1.2
  SSLHonorCipherOrder on
  #SSLCipherSuite PROFILE=SYSTEM
  SSLCertificateFile /etc/pki/tls/certs/{{ httpd_identity_info.id_name }}.crt
  SSLCertificateKeyFile /etc/pki/tls/private/{{ httpd_identity_info.id_name }}.key
  SSLCertificateChainFile /etc/pki/tls/certs/trusted-ca.crt
  SSLOptions +StdEnvVars +FakeBasicAuth +StrictRequire
  SSLCACertificateFile /etc/pki/tls/certs/trusted-ca.crt
  #SSLCARevocationPath /etc/httpd/crl/
  ProxyPreserveHost on
  SSLProxyEngine On
  #SSLProxyCipherSuite PROFILE=SYSTEM
  SSLProxyCheckPeerName off
  SSLProxyCheckPeerCN off
  ProxyRequests Off
  
  # initialize the special headers to a blank value to avoid http header forgeries
  RequestHeader set SSL_CLIENT_CERT "%{SSL_CLIENT_CERT}s"

  # Disallow any HTTP method that is not HEAD, GET or POST
  RewriteEngine On
  RewriteCond %{REQUEST_METHOD} !^(HEAD|GET|POST|PUT)$ [NC]
  RewriteRule .* - [F,L]

  # Redirecting traffic to EJBCA Admin
  <Location /ejbca/adminweb>
  SSLVerifyClient require
  SSLVerifyDepth  4
  SSLOptions +ExportCertData +StrictRequire +StdEnvVars
  </Location>

  # Allow encoded slashes for OCSP GET
  AllowEncodedSlashes On

  # Peer Connections
  <Location /ejbca/peer/v1>
  SSLVerifyClient require
  SSLVerifyDepth  4
  SSLOptions +ExportCertData +StrictRequire +StdEnvVars
  </Location>

  # Redirecting traffic to EJBCA public
  <Location /ejbca>
  ProxyPass balancer://EJBCACluster/ejbca
  ProxyPassReverse balancer://EJBCACluster/ejbca
  </Location>

  # Redirect /, /ejbca, /signserver and non-proxied URLs to /ejbca/
  RewriteCond %{THE_REQUEST} !(/ejbca/.*)
  RewriteRule (.*) https://%{HTTP_HOST}/ejbca/ [R]

</VirtualHost>
