---
# tasks file for roles/ansible-ejbca-crypto-token

- name: Query crypto tokens
  command: "{{ ejbca_sh }} cryptotoken list"
  no_log: "{{ no_log_value }}"
  become: yes
  become_user: "{{ ejbca_user }}"
  register: cryptoToken_list
  changed_when: false
  failed_when: cryptoToken_list.rc >= 1

- name: Create cryptotoken for {% if item.crypto_token_name is defined %}{{ item.crypto_token_name }}{% else %}{{ item.caname }}{% endif %}
  command: >
    {{ ejbca_sh }} cryptotoken create 
    --token {% if item.crypto_token_name is defined %}"{{ item.crypto_token_name }}"{% else %}"{{ item.caname }}"{% endif %} 
    --pin {{ item.tokenpass }} 
    --autoactivate {{ item.cryptotoken_enable_auto_activate }} 
    {% if "soft" == item.tokentype %}--type "SoftCryptoToken" 
    {% elif "org.cesecore.keys.token.PKCS11CryptoToken" == item.tokentype or "PKCS11CryptoToken" == item.tokentype %}--type "PKCS11CryptoToken" 
    --lib "{{ hsm_shared_library }}" 
    --slotlabel "{{ item.slot_identifier_value }}"
    --slotlabeltype "{{ item.slot_identifier_type }}" 
    {% elif "org.cesecore.keys.token.p11ng.cryptotoken.Pkcs11NgCryptoToken" == item.tokentype or "Pkcs11NgCryptoToken" == item.tokentype %}--type "Pkcs11NgCryptoToken" 
    --lib "{{ hsm_shared_library }}" 
    --slotlabel "{{ item.slot_identifier_value }}"
    --slotlabeltype "{{ item.slot_identifier_type }}" 
    {% endif %}
    {% if item.force_used_slots is defined and item.force_used_slots is sameas true %}
    --forceusedslots{% endif %}
  no_log: "{{ no_log_value }}"
  become: yes
  become_user: "{{ ejbca_user }}"
  register: add_cryptotoken
  failed_when: add_cryptotoken.rc >= 2
  when: 
    - (item.crypto_token_name is defined and item.crypto_token_name not in cryptoToken_list.stdout) or 
      (item.caname is defined and item.caname not in cryptoToken_list.stdout and item.crypto_token_name is not defined)

#- name: debug add_cryptotoken
#  debug:
#    var: add_cryptotoken
