Object Type: Certificate Profile
Version: 1
Name: SubCA-{{ organizationNameShort }}-G1
Type: Sub CA
Available Key Algorithms:
- RSA
Available Elliptic Curves:
- ANY_EC_CURVE
Available Bit Lengths:
- 2048
- 3072
- 4096
Signature Algorithm: {{ sub_add_certification_authorities[0].signalg }}
Validity: {{ sub_add_certification_authorities[0].validity_yml }}
Description: ''
Overridable Extension OIDs: [
  ]
Non-overridable Extension OIDs: [
  ]
Allow Validity Override: true
Path Length Constraint Used: true
Path Length Constraint: 0
Key Usage:
- Digital Signature
- Key Certificate Sign
- CRL Sign
Extended Key Usage Used: false
Extended Key Usage: [
  ]
Subject Alternative Name Used: false
Issuer Alternative Name Used: false
CRL Distribution Point Used: true
CRL Use CA Defined Settings: true
#CRL Distribution Point URI: {{ sub_add_certification_authorities[0].defaultCRLDP }} 
CRL Issuer: ''
Authority Information Access Used: true
OCSP Service Locator URL Is CA Defined: true
#OCSP Service Locator URL: {{ sub_add_certification_authorities[0].defaultOCSPServiceLocator }}
OCSP Issuer URL Is CA Defined: true
#OCSP Issuer URLs:
#- {{ sub_add_certification_authorities[0].authorityInformationAccess }}
CVC Access Rights (Inspection System): [
]
LDAP DN Order: false
Available CAs:
- Any CA
{% if ejbca_version >= '7.6' %}
Account Binding Namespace: [
  ]
{% endif %}
