Object Type: Role
Version: 1
Name: RA-Lemur
Role Members: [
  ]
Namespace: ''
RA Style Id: 0
Access Rules:
  /administrator/: Allow
  /ca/{{ organizationNameShort }}-Sub-CA/: Allow
  /ca_functionality/create_certificate/: Allow
  /ca_functionality/view_certificate/: Allow
  /endentityprofilesrules/codeSigning/: Allow
  /endentityprofilesrules/tlsServerdemo/: Allow
  /endentityprofilesrules/workstations/: Allow
  /endentityprofilesrules/remoteDesktopAuth/: Allow
  /endentityprofilesrules/domainController/: Allow
  /endentityprofilesrules/tlsServerAcme/: Allow
  /ra_functionality/approve_end_entity/: Allow
  /ra_functionality/create_end_entity/: Allow
  /ra_functionality/delete_end_entity/: Allow
  /ra_functionality/edit_end_entity/: Allow
  /ra_functionality/revoke_end_entity/: Allow
  /ra_functionality/view_approvals/: Allow
  /ra_functionality/view_end_entity/: Allow
  /ra_functionality/view_end_entity_history/: Allow
  /secureaudit/auditor/select/: Allow