Object Type: SCEP Configuration
Version: 2
Name: device
Operational Mode: RA
RA End Entity Profile: scepDevice
RA Certificate Profile: workstation
RA CA Name: {{ organizationNameShort }}-Sub-CA
RA Authentication Password: {{ encrypted_scep_device_alias_enrollment_passwd | default('foo123') }}