# The configuration you want to run
WILDFLY_CONFIG={{ wildfly_standalone_config_file }}

# The mode you want to run
WILDFLY_MODE=standalone

# The address to bind to
WILDFLY_BIND={{ wildfly_bind_address }}
